body{
    background-color: rgb(228, 215, 152);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
header > h1{
    text-align: center;
    padding-top: 1.5%;
}
footer{
    text-align: center;
    font-style: italic;
    font-weight: bolder;
}
section{
    background-color: #fff;
    text-align: center;
    color: black;
    padding-top: 0.7%;
    margin-right: auto;
    margin-left: auto;
    height: 350px;
    width: 600px;
    font-weight: bolder;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.281);
}
